.inputfield{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 250px;
}   


input[type ='text']{
    height: 50px;
    border-radius: 15px;
    border:none;
    padding:20px
}

input[type ='submit']{
    @extend input, [type=text];
    background-color: cornflowerblue;
    color: black;
    cursor: pointer;
}

input[type ='date']{
    @extend input, [type=text];
}

input[type ='time']{
    @extend input, [type=text];
   
}
input[type = 'text']::placeholder{
    text-align: center;
}
