/* APP DOWNLOAD SECTION */
.help_element1 {
  width: 75%;
  height: 20px;
  padding: 50px;
  margin: 20px;
  box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  text-align: center;
}
.row1 > div {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  text-align: center;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.row1 {
  display: flex;
}
.download__app__button {
  display: flex;
  /* padding-left: 20px; */
}
.download__app__button img {
  transition: all 0.5s;
}
.download__app__button img:hover {
  transform: scale(1.1);
}
/* .download__app__button > img {
      transition: all 0.5s;
    }
    .download__app__button > img :hover {
      transform: scale(1.1);
    } */
