/* BANNER OF THE SCREEN */
nav {
  // sticky
  position: sticky;
  background-color: white;
  z-index: 1;
}
.navtop {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.banner {
  position: relative;
  //   background-image: linear-gradient(#ceeee9, white);
  // VARIABLES
  background-image: $cell-color;
  height: 900px;
}
.background {
  @include absolute(absolute);
  //   position: absolute;
  max-width: 100%;
}
.banner_train {
  @include absolute(absolute);
  //   position: absolute;
  right: 10px;
  top: 60px;
  width: 1200px;
  object-fit: contain;
  filter: blur(4px);
}

.mmts {
  @include absolute(absolute);
  //   position: absolute;
  // z-index: 1;
  top: 500px;
  right: 100px;
}
.text_and_button {
  // z-index: 1;
  //MIXIN IMPORTS
  @include absolute(absolute);
  //   position: absolute;
  right: 100px;
  top: 350px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}
.banner_button {
  @include banner_button(#31f0e6);
  //   background-color: #31f0e6;
  padding: 10px;
  //   border-radius: 25px;
  transition: all 0.5s;
}
.banner_signinbutton {
  @extend .banner_button;
}
.banner_button:hover {
  transform: scale(1.1);
}
.link-group section select {
  border: none;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}
.link-group1 {
  // INHERITANCE
  @extend .link-group;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* FORM FIELD */
.field {
  margin: 10px;
}
.form__style {
  @include absolute(absolute);
  //   position: absolute;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);

  background-color: azure;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  top: 250px;
  left: 20px;
  border-radius: 25px;
  width: 450px;
  padding: 35px;
}
.formbutton {
  background-color: #2654a6;
  padding: 10px 100px;
  display: flex;
  margin-left: 60px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
.form__style fieldset {
  border: none;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.option_selector {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  background-color: #2654a6;
  border-radius: 10px;
  color: white;
}
.selected_option {
  background-color: #31f0e6;
  padding: 0 20px 0 20px;
  border-radius: 20px;
}
