/* FOOTER SECTION */

.footer_left_section {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 20px;
}
.footer {
  background-color: #2ba88f;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.subfooter {
  margin: 0;
  background-color: #1a6d5c;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: small;
  text-align: center;
}

.underline {
  margin-left: 0%;
  width: 100px;
}
/* div.back {
        background-image:url('homepage/Rectangle109@2x.png');
    }
    .pictute>curveimage{
        position: realtive;
        bottom: 2000px;
    }
    
    .wrap{
            width: 200px;
            word-wrap: break-word;
    } */
