/* HELP ELEMENT */
/* Create two equal columns that floats next to each other */
.row {
  display: flex;
  padding-bottom: 15%;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  text-align: center;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.column h2 {
  @include helpcolor(black, true);
}
/* child and adjacent sibling */
.column > p + img {
  left: 50%;
  width: "250px";
}
.laptop_button {
  margin-top: 50px;
  background-color: #2654a6;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

.faq {
  color: green;
  font-weight: bold;
}
/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
  } */

.help_element {
  width: 75%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 15px;
  text-align: center;
  box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  transition: all 0.3s ease-in-out;
}

// .help_element:hover {
//   background-color: #2654a6;
//   transform: scale(1.1);
//   color: white;
// }
// FOR LOOP MATH OPERATION AND BUILT IN SASS FUNCTION
@for $i from 1 through 4 {
  .help_element:hover:nth-child(#{$i}) {
    transform: scale(1.1);
    color: white;
    font-size: 1rem;
    background-color: darken($color: #2654a6, $amount: $i * 10%);
  }
}
